:root {
    --pixel-size: 7;
}

#background-image {
    position: absolute;
    z-index: -1;
    transform: scale(1.5, 1)
}

#eye-l,  #eye-r{
    animation: moveEyes 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}

@keyframes moveEyes {
    from {        
        transform: translateX(3%);
    }
    70% {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-1%);
    }
}

.input-name {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    width: 100px;
    margin-block-start: 0px;
    height:30px;
    box-sizing: border-box;
    border: 3px solid rgb(112, 112, 112);
    background-color: #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-name:focus {
    border: 3px solid black;
}

#cb-name {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
}



#all-game {
    font-family: 'Press Start 2P', cursive;
}

.head-container {
    position: absolute;
}

.header {
    font-family: 'Press Start 2P', cursive;
    margin-block-start: 0px;
}

button {
    cursor: pointer;
}

.game-button {
    border-style: hidden;
    background-color: transparent;
}

.healthbar {
    width: auto;
    height: 30px;
    display: block;
    width: calc(38px * var(--pixel-size));
    margin: 2vw;
}

.healthbar-inner {
    background: linear-gradient(to left, #10ec08, #f00303);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease 0.3s;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#egg{
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-top: 18%;
    margin-left: 35%;
}

#idle, #sick {
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-top: 23%;
    margin-left: 35%;
}

#crush, #dance, #fire, #play, #poop, #feed {
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-top: 21%;
    margin-left: 35%;
}

#sleep {
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-top: 20%;
    margin-left: 35%;
}

.health-score{
    background-color: #10ec08;
}

.title{
    background-color: white;
    font-size:10vw;
    text-align: center;
    border: solid;
    border-color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.title-tagline{
    background-color: transparent;
    font-size:1vw;
    margin-block-start: 14.0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#egg{
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-top: 2%;
    margin-left: 35%;
}

.name-input{
    text-align: center;
    width: fit-content;
}



